#===============================================================================
# ECE MDE 31 
#
# Description: Configuration file for the EKF dault detection node
#===============================================================================

# Iteration rate in Hz
iteration_rate: 10.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Threshold limits for the residuals of different vehicle signals
# - depth:             Depth threshold value in meters
# - height:            Height threshold value in meters
# - etc: 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thresholds:
    depth: 10.0 #PLACEHOLDER VALUES
    height: 10.0
