#===============================================================================
# ECE MDE 31 
#
# Description: Configuration file for the EKF dault detection node
#===============================================================================

# Iteration rate in Hz
iteration_rate: 10.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Threshold limits for the residuals of different vehicle signals
# - depth:             Depth threshold value in meters
# - height:            Height threshold value in meters
# - etc: 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thresholds:
    depth: 10.0 #PLACEHOLDER VALUES
    height: 10.0

# P0 and Q taken from intertial nav node, may need updataing
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter initial state covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
P0:   [ 3.0000e-03, 3.0000e-03, 3.0000e-02,  # Att     (rad)^2
        1.0000e-02, 1.0000e-02, 1.0000e-02,  # NED Vel (m/s)^2
        1.5398e-13, 1.5398e-13, 1.0000e+02,  # Pos     (rad,rad,m)^2
        6.9303e-14, 6.9303e-14, 6.9303e-14,  # b_g     (rad/s)^2
        1.6884e-07, 1.6884e-07, 1.6884e-07 ] # b_a     (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter process noise covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
Q:   [ 8.4785e-10, 8.4785e-10, 8.4785e-10,   # w_ib_b (rad/s)^2
       8.5701e-05, 8.5701e-05, 8.5701e-05,   # f_ib_b (m/s^2)^2
       2.3101e-18, 2.3101e-18, 2.3101e-18,   # b_g    (rad/s)^2
       5.6279e-12, 5.6279e-12, 5.6279e-12  ] # b_a    (m/s^2)^2
